@model WebApplication1.Models.Produto;
<link href="~/css/prod.css" rel="stylesheet" />
<h1>Cadastrar Produto</h1>

<div class="row mainc">
    
        <form asp-action="CadastrarProduto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="preco" class="control-label"></label>
                <input asp-for="preco" class="form-control" />
                <span asp-validation-for="preco" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="quantidade" class="control-label"></label>
                <input asp-for="quantidade" class="form-control" />
                <span asp-validation-for="quantidade" class="text-danger"></span>
            </div>

            <div class="form-group bottom">
                <input type="submit" value="Cadastrar" class="btn btn-success"/>
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
</div>