@{
    ViewData["Title"] = "Projetao cidade";
}

<link href="~/css/home.css" rel="stylesheet" />

<body>
<div class="container1 text-center text-light">
    <h1>Projetao</h1>    
    <button class="btn btn-primary"> <a class="nav-link text-light" asp-area="" asp-controller="Usuario" asp-action="Login">Login</a></button> 
</div>
</body>