@model WebApplication1.Models.Usuario;
<link href="~/css/login.css" rel="stylesheet"/>



<div class="background">
    <div class="forms text-light">
        <h1 class="title">Login</h1>
        <form asp-action="Login" method="post" >
            <div class="form-group">
                <label>Email:</label>
                <input type="email" name="email" required class="border-light"/>
            </div>
            <div class="form-group">
                <label>Senha:</label>
                <input type="password" name="senha" class="border-light" required/>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>